<center>

<h1>Jugando</h1>
<table border="1" width="300px" height="300px" frame="void" rules="all">
	<tr>
		<td align="center"> 
			<h1> 
				<a href="/0/0">
					 <img src='../img<%= @@game.consultarPosicion(0,0) %>.jpg' alt='p00' height='80' width='80'>
				</a> 
			</h1> 
		</td>
		<td align="center"> 
			<h1> 
				<a href="/0/1">
					<img src='../img<%= @@game.consultarPosicion(0,1) %>.jpg' alt='p01' height='80' width='80'>
				</a> 
			</h1> 
		</td>
		<td align="center"> 
			<h1> 
				<a href="/0/2">
					<img src='../img<%= @@game.consultarPosicion(0,2) %>.jpg' alt='p02' height='80' width='80'>
				</a> 
			</h1> 
		</td>
	</tr>
	<tr>
		<td align="center"> 
			<h1> 
				<a href="/1/0">
					 <img src='../img<%= @@game.consultarPosicion(1,0) %>.jpg' alt='p10' height='80' width='80'>
				</a> 
			</h1> 
		</td>
		<td align="center"> 
			<h1> 
				<a href="/1/1">
					<img src='../img<%= @@game.consultarPosicion(1,1) %>.jpg' alt='p11' height='80' width='80'>
				</a> 
			</h1> 
		</td>
		<td align="center"> 
			<h1> 
				<a href="/1/2">
					<img src='../img<%= @@game.consultarPosicion(1,2) %>.jpg' alt='p12' height='80' width='80'>
				</a> 
			</h1> 
		</td>
	</tr>
	<tr>
		<td align="center"> 
			<h1> 
				<a href="/2/0">
					 <img src='../img<%= @@game.consultarPosicion(2,0) %>.jpg' alt='p20' height='80' width='80'>
				</a> 
			</h1> 
		</td>
		<td align="center"> 
			<h1> 
				<a href="/2/1">
					<img src='../img<%= @@game.consultarPosicion(2,1) %>.jpg' alt='p21' height='80' width='80'>
				</a> 
			</h1> 
		</td>
		<td align="center"> 
			<h1> 
				<a href="/2/2">
					<img src='../img<%= @@game.consultarPosicion(2,2) %>.jpg' alt='p22' height='80' width='80'>
				</a> 
			</h1> 
		</td>
	</tr>
</table>

<br/>

<h1>Ganador: <%= @@game.consultaGanador %></h2>

<br/>
<h1><a href="/">Juego nuevo</a></h1>

</center>
