<center>

<h1>Jugando</h1>

<table border="1" width="300px" height="300px">
	<tr>
		<td align="center"> <h1> <a href="/0/0"><%= @@game.consultarPosicion(0,0) %></a> </h1> </td>
		<td align="center"> <h1> <a href="/0/1"><%= @@game.consultarPosicion(0,1) %></a> </h1> </td>
		<td align="center"> <h1> <a href="/0/2"><%= @@game.consultarPosicion(0,2) %></a> </h1> </td>
	</tr>
	<tr>
		<td align="center"> <h1> <a href="/1/0"><%= @@game.consultarPosicion(1,0) %></a> </h1> </td>
		<td align="center"> <h1> <a href="/1/1"><%= @@game.consultarPosicion(1,1) %></a> </h1> </td>
		<td align="center"> <h1> <a href="/1/2"><%= @@game.consultarPosicion(1,2) %></a> </h1> </td>
	</tr>
	<tr>
		<td align="center"> <h1> <a href="/2/0"><%= @@game.consultarPosicion(2,0) %></a> </h1> </td>
		<td align="center"> <h1> <a href="/2/1"><%= @@game.consultarPosicion(2,1) %></a> </h1> </td>
		<td align="center"> <h1> <a href="/2/2"><%= @@game.consultarPosicion(2,2) %></a> </h1> </td>
	</tr>
</table>

<br/>

<h1>Ganador: <%= "Ninguno" %></h2>

<br/>
<h1><a href="/">Juego nuevo</a></h1>

</center>
